
/** {*/
/*  outline: 1px solid red !important;*/
/*}*/

.container {
  min-width: 373px;
}

.featured-work {

  margin-left: 15px;

}

body {
  font-family: 'Lato', sans-serif;
  color: #747704;
  font-weight: 300;
}

.name {
  padding-right: 23px;
}

.logo {
  margin-top: 20px;
  width: 73px;
  height: 73px;
  border: 1px solid #dddddd;
  padding: 5px;
  border-radius: 7px;
}

hr {
  border-top: 2px solid #BCBBBB;
}

h1  {
  color: #7b7373;
  font-size: 40px;
  font-weight: 100;
}

h2  {
  color: #FF9800;
}

h3  {
  color: #7b7373;
}

h4  {
  color: #FF9800;
}

#big-puppy-image {

  border-radius: 4px;
  padding: 4px;
  background-color: white;
  border: 1px solid #dddddd;
  cursor: auto;

}

.img-responsive {

  cursor: pointer;

}

.video {
  
 position: relative;
 padding-bottom: calc(100% / 1.78);

}

.tortue {
  border-radius: 4px;
  padding: 4px;
  background-color: white;
  border: 1px solid #dddddd;
}

/*Same height image elements*/

/* item styles */
.item-image {
  position: relative;
  overflow: hidden;
  /*padding-bottom: 50%;*/
}

.item-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}



